php_value memory_limit 5000M
php_flag magic_quotes_gpc off
php_value max_input_vars 1000000
php_value max_execution_time 60
php_value post_max_size 400M

Options +FollowSymLinks -Indexes
#Options +SymLinksIfOwnerMatch

RewriteEngine on
#RewriteBase /


#von www zur nicht www umleiten.
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#SSL ON!
RewriteCond %{REMOTE_ADDR} !=127.0.0.1 
RewriteCond %{REMOTE_ADDR} !=::1
RewriteCond %{HTTP_HOST} !^127\.0\.0\.1(?::\d+)?$
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


#START Zugriff auf Public Dateien ====================
#z.B. domain.cc/public/[plugin-name]/tpl/test.js
RewriteCond %{REQUEST_URI} \.(txt|pdf|doc|js|css|html|otf|eot|svg|ttf|woff|woff2)$
RewriteRule ^public/([^/]+)/(.*)$							system/$1/public/$2 [QSA,END]
#END Zugriff auf Public Dateien ======================

#FILE START ===============
#ToDo: die RewriteCond weiche für localhost oder für Domain, funktioniert nicht!!
#Bild aus dem Cache ausgeben
# 1. Datei existiert → direkt ausliefern

#file/[Text_]ab12345_12x12.jpg													data_c/papp~phpapp/file/ab12345_12x12.jpg
#RewriteRule ^file/(.*)_(.*)_(.*)x(.*)\.(.*)$									data_c/papp~phpapp/$1/file/$2_$3x$4.$5 [L] #Datei ausgabe nach der File ID 
#RewriteRule ^file/(.*)_(.*)x(.*)\.(.*)$											data_c/papp~phpapp/file/$1_$2x$3.$4 [L] #Datei ausgabe nach der File ID 
RewriteRule ^file/([A-Za-z0-9_-]+)_([0-9]+)x([0-9]+)\.(jpg|jpeg|png|gif|webp|avif)$ 		data_c/papp~phpapp/file/$1_$2x$3.$4 [L]


#Bild neu generieren wen es im cach nicht gefunden wurde
# 2. Datei existiert NICHT → hole sie dynamisch
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^data_c/papp~phpapp/file/(.*)_(.*)x(.*)\.(.*)$					system/papp/phpapp/system/blank__get_file.php?R[id]=$1&R[x]=$2&R[y]=$3&R[type]=$4 [L] #nach File ID
RewriteRule ^data_c/papp~phpapp/file/(.*)_(.*)x(.*)\.(.*)$					index.php?R[Page]=get_file&R[ModuleId]=papp/phpapp&R[id]=$1&R[x]=$2&R[y]=$3&R[extension]=$4 [L] #nach File ID
#FILE ENDE ================


#Seo URL
#Führt die RewriteRule nur dann aus, wenn keine Dateiendung übergeben wurde. Gilt für SEO-URLs oder nur für Parameter an Index
###RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]+$	 #Mus geprüft werden, welche Ordner zugelasen sind für den Zugriff, ggf. nur data_c, wie es mit Template datein css, jpg, aussieht?

# setup.php direkt ausliefern (nicht umschreiben)
RewriteRule ^setup\.php$ - [L]

##RewriteCond %{REQUEST_URI} !^(/file/|/data_c/) #Es soll nicht auf /file/ und /data_c/ reagieren
RewriteRule ^(file/|data_c/) - [L]
RewriteRule ^(.*)?(.*)$			index.php?D[SEO_URL]=$1&$2 [QSA,L] #[QSA]




#FILE Icon Start================
RewriteRule ^favicon.ico$									view/account/template/core/favicon/favicon.ico [L,QSA]
RewriteRule ^apple-touch-icon.png$							view/account/template/core/favicon/apple-touch-icon.png [L,QSA]
#FILE Icon Ende ================



#Performance Optimierung Start ==============
# Komprimieren der Inhalte mit Deflate nach Dateiendungen. 1. und 2. zusammen
<IfModule mod_deflate.c>
	<FilesMatch "\.(js|jpg|jpeg|gif|png|css)$">
		ExpiresActive on
		ExpiresDefault "access plus 1 month"
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(js|css)$">
		Header set Cache-Control "max-age=604800, public"
	</FilesMatch>

	<FilesMatch "\.(gif|png|jpg|jpeg|pdf|ico)$">
		Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
</IfModule>